[Desktop Entry]
Type=Application
Name=JDownloader 2
Name[pt_BR]=Gerenciador JDownloader
Exec=jdownloader
Icon=/opt/jdownloader/JDownloader2.png
Categories=Network;Application;
